<div class="movies-gallery">
  <h3 class="movies-gallery__title">Movies Gallery</h3>
  <div class="row">
    <div *ngFor="let item of movies" class="col-12 col-sm-6 col-md-4 col-xl-3">
      <app-movie-card [item]="item"></app-movie-card>
    </div>
  </div>
</div>
