.movie-card {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  .movie-card__favorite-star {
    position: absolute;
    top: -9px;
    right: -7px;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }
  .movie-card__img {
    padding: 10px;
    width: 100%;
    height: 250px;
  }
  .movie-card__name {
    text-align: center;
  }
}
