<div class="card movie-card">
  <div class="movie-card__favorite-star">
    <img [src]="setStarColor(item.id)" alt="star" (click)="setFilmsStatus(item.id, item.name)" />
  </div>
  <img class="card-img-top movie-card__img" [src]="item.img" alt="Card image cap" />
  <div class="movie-card__name">{{ item.name }}</div>
  <div class=" movie-card__year">{{ item.year }}</div>
</div>
