<div class="login_card-wrapper">
  <form (ngSubmit)="login()" [formGroup]="form">
    <div class="card login_card">
      <div class="card-body">
        <div class="card-title">
          <h4>Please sign in</h4>
        </div>
        <div class="login_card__name">
          <label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" [(ngModel)]="loginFormValue.name" />
          </label>
          <small class="text-danger card-body__error-message" *ngIf="showNameRequiredError">Name is required</small>
        </div>

        <div class="login_card__email">
          <label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" [(ngModel)]="loginFormValue.email" />
          </label>
          <small class="text-danger card-body__error-message" *ngIf="showEmailRequiredError">Email is required</small>
          <small class="text-danger card-body__error-message" *ngIf="showEmailValidationError">Email is invalid</small>
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign in</button>
      </div>
    </div>
  </form>
</div>
