.login_card-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login_card {
    max-width: 800px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    .login_card__name {
      display: flex;
      flex-direction: column;
    }
    .login_card__email {
      display: flex;
      flex-direction: column;
    }
    .card-body__error-message {
      position: relative;
      top: -4px;
      margin-left: 12px;
    }
  }
}
