<div class="dashboard">
  <div class="row">
    <div class="col-9">
      <app-movies-gallery></app-movies-gallery>
    </div>
    <div class="col-3">
      <app-favorite-list></app-favorite-list>
    </div>
  </div>
</div>
