.favorite-list-wrapper {
  padding: 15px;
  background-color: beige;
  border: 1px solid;
  border-radius: 25px;
  .favorite-list {
    .favorite-list__header {
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: cover;
        background-image: url("../../../assets/img/icons/favorite-list.svg");
        background-repeat: no-repeat;
        background-position: center;
        transform: translateX(-5px);
      }
    }

    .favorite-list__body {
      display: flex;
      flex-direction: column;
      margin: 0 20px;
      .favorite-list__film {
        display: flex;
        flex-direction: row;
        align-items: center;
        .favorite-list__content {
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 20px;
          &::before {
            content: "\2799";
          }
          &:hover {
            color: orange;
            transition-duration: 300ms;
          }
        }
        .favorite-list__close-button {
          background: none;
          border: none;
          &:focus {
            transition-duration: 300ms;
            transform: scale(0.8);
            outline: none;
          }
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
