<div class="favorite-list-wrapper">
  <div class="favorite-list">
    <div class="favorite-list__header">{{ accountName }}'s Favorite List</div>
    <div class="favorite-list__body">
      <div *ngFor="let film of favoriteList" class="favorite-list__film">
        <div class="favorite-list__content">
          {{ film.filmsName }}
        </div>
        <button class="favorite-list__close-button" (click)="removeFilmFromFavoriteList(film.id)">
          <img src="../../../assets/img/icons/close.svg" alt="close button" />
        </button>
      </div>
    </div>
  </div>
</div>
